@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary-color: #54b9a2;
    --btn-color: #54b9a2;
    --btn-hover-color: #49a08c;
    --disabled-btn: #999;
    --disabled-btn-hover: #7c7c7c;
}

*::selection {
    background-color: #42b398;
}

input,
div,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}