.flex-div {
	display: flex;
	align-items: center;
}

.container {
	padding-left: 16.77%;
}

.large-container {
	padding-left: 4%;
}

.channel-banner {
	width: 100%;
	height: 285px;
	background-color: #DFE8E6;
}

.channel-info {
	transform: translateY(-32px);
	padding-left: 136px;
	white-space: nowrap;
}

.channel-info .user-profile-picture {
	border-radius: 100%;
	width: 160px;
	height: 160px;
	filter: brightness(0.95);
}

.channel-info div h5 {
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	color: #000000;
}

.channel-info div a {
	color: #616163;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
}

.channel-info div a:hover {
	color: #3c947f;
}

.channel-info div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.channel-info div .main-info {
	display: flex;
	flex-direction: row;
	gap: 69px;
}

.subheader {
	transform: translateY(-32px);
	display: flex;
}

.tabs-container {
	width: 75%;
}

.tab-content-container {
	min-height: 800px;
}

.btns-container {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 75px;
	width: 48%;
	padding-right: 28px;
	flex-wrap: nowrap;
	white-space: nowrap;
}

.tabs-btns {
	/* padding-left: 136px; */
	position: relative;
}

hr {
	position: absolute;
	width: 100%;
	height: 1px;
	border: none;
	background-color: #646161c2;
	bottom: 0;
}

.tab-btn {
	position: relative;
	background-color: transparent;
	border: none;
	outline: none;
	width: 131px;
	height: 65px;
	color: #646161d5;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.64px;
	cursor: pointer;
	text-transform: uppercase;
}

.tabs-underline {
	height: 3px;
	width: 131px;
	background-color: #000;
	position: absolute;
	bottom: 0;
}

.tab-btn[data-state='active'] {
	color: #000;
}


.subheader-btn {
	border-radius: 23.5px;
	background: #54B9A2;
	padding: 14px 23px;
	border: none;
	outline: none;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	cursor: pointer;
	transition: all .2s ease;
}

.subheader-btn.active {
	background-color: #999;
}

.subheader-btn.active:hover {
	background-color: #7c7c7c;
}

.subheader-btn:hover {
	background: #489785;

}

.tabs-padding {
	padding-left: 149px;
	flex-wrap: nowrap;
	white-space: nowrap;
}

/*****************************************
  upload button styles
******************************************/

/* ================================= */
/* ================================= */

.trigger {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 0.5rem 1rem;

	border-radius: 0.375rem;

	background-color: rgb(var(--color-white) / 1);

	font-weight: 500;
	line-height: 1;

	color: rgb(var(--color-magnum-700) / 1);

	box-shadow: 0 10px 15px -3px rgb(var(--color-black) / 0.1),
		0 4px 6px -4px rgb(var(--color-black) / 0.1);
}

.trigger:hover {
	opacity: 0.75;
}

.overlay {
	position: fixed;
	inset: 0;
	z-index: 40;

	background-color: #000000a6;
}

.content {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 50;
	max-height: 720px;
	height: calc(100% - 120px);
	width: 100%;
	max-width: 1200px;
	transform: translate(-50%, -50%);
	border-radius: 0.375rem;
	background: #FFF;
	padding: 0 1.5rem;
	border-radius: 7px;
	box-shadow: 0 10px 15px -3px rgb(var(--color-black) / 0.1), 0 4px 6px -4px rgb(var(--color-black) / 0.1);
	min-height: 630px;
}

.content:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.close {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 10px;
	top: 10px;
	appearance: none;
	border-radius: 9999px;
	padding: 10px;
}

hr.dialog-hr {
	position: fixed;
	width: 100%;
	height: 1px;
	border: none;
	background-color: #646161c2;
	left: 0;
	top: 81px;
}



.close:hover {
	background-color: #cececede;
}


.title {
	color: #000;
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
}

.dialog-head {
	position: relative;
	width: 100%;
	height: 81px;
	display: flex;
	align-items: center;
}

.description {
	margin-bottom: 1.25rem;
	margin-top: 0.5rem;

	line-height: 1.5;

	color: rgb(var(--color-zinc-600) / 1);
}

fieldset {
	display: flex;
	align-items: center;
	gap: 1.25rem;

	margin-bottom: 1rem;
}

fieldset label {
	width: 90px;
	text-align: right;

	color: rgb(var(--color-magnum-800) / 1);
}

fieldset input {
	display: inline-flex;
	flex: 1 1 0%;
	align-items: center;
	justify-content: center;

	height: 2rem;
	width: 100%;

	padding: 0 0.75rem;

	border-radius: 0.125rem;

	border-width: 1px;
	border-style: solid;

	line-height: 1;

	color: rgb(var(--color-magnum-800) / 1);
}

.actions {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;

	margin-top: 1.5rem;
}

.actions button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: 2rem;

	border-radius: 0.25rem;

	padding: 0 1rem;

	font-weight: 500;
	line-height: 1;
}

.actions button.secondary {
	background-color: rgb(var(--color-zinc-100) / 1);

	color: rgb(var(--color-zinc-600) / 1);
}

.actions button.primary {
	background-color: rgb(var(--color-magnum-100) / 1);

	color: rgb(var(--color-magnum-900) / 1);
}




/* ================================= */

/* ============NO VIDEOS USER================= */

.user-no-videos {
	width: 100%;
	min-height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 22px;
	justify-content: center;

}

.user-no-videos img {
	user-select: none;
	pointer-events: none;
}

.no-videos-title {
	color: #000;
	text-align: center;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
}

.no-videos-subtitle {
	color: #616163;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
}

.interaction-btn {
	height: 47px;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 23.5px;
	background-color: #54b9a2;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	transition: background 0.1s ease;
}

.follow-btn {
	width: 147px;
}

.interaction-btn.active {
	background-color: #3c947f;
	color: #ffffff;
}

.interaction-btn:hover {
	background-color: #49a08c;
}

.channel-info a {
	border-radius: 50%;
	cursor: pointer;
}

.channel-info div {
	border-radius: 50%;
	cursor: default;
	position: relative;
	margin-right: 32px;
}

.camera-icon {
	position: absolute;
	width: 70px;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.589);
	border-radius: 50%;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.channel-info a:hover .camera-icon {
	opacity: 1;
}

.channel-info a:hover .user-profile-picture {
	filter: brightness(1);
}

.channel-info div:hover .user-profile-picture {
	filter: brightness(1);
}


/* ============NO VIDEOS USER================= */

@media (max-width: 1440px) {
	.large-container {
		padding-left: 6%;
	}
}

@media (max-width: 1326px) {
	.subheader {
		flex-direction: column-reverse;
		transform: translateY(-32px);
	}

	.btns-container,
	.tabs-container {
		width: 100%;
	}
}

@media (max-width: 1238px) {
	.container {
		padding-left: 26.8%;
	}

	.large-container {
		padding-left: 8%;
	}

	.btns-container {
		gap: 25px;
	}

	.tabs-padding {
		padding-left: 64px;
	}

	.channel-info {
		padding-left: 60px;
	}
}

@media (max-width: 900px) {
	.user-no-videos {
		justify-content: flex-start;
		padding: 68px 20px;
	}

	.user-no-videos img {
		width: 152px;
	}

	.no-videos-title {
		color: #000;
		text-align: center;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
	}

	.user-no-videos .subheader-btn {
		text-align: center;
		font-size: 12px;
		font-weight: 600;
		padding: 12px 16px;
	}

	.no-videos-subtitle {
		color: #616163;
		text-align: center;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
	}

	.content {
		max-width: 394px;
		max-height: 493px;
	}



	/* .dialog-title {
		font-size: 13px;
	}

	.dialog-desc {
		font-size: 8px;
	} */



	.channel-banner {
		height: 174px;
	}

	.container,
	.large-container {
		padding-left: 0;
		padding-right: 0;
	}

	.channel-info {
		transform: translateY(0);
		padding-left: 4px;
		margin-top: 10px;
	}

	.channel-info div {
		gap: 14px;
	}

	.channel-info img {
		width: 122px;
		height: 122px;
	}

	.channel-info div p {
		font-size: 12px;
	}

	.channel-info div h5 {
		font-size: 21px;
	}

	.channel-info div .main-info {
		gap: 14px;
	}

	.tabs-padding {
		padding-left: 0px;
	}

	.subheader {
		flex-direction: column-reverse;
		transform: translateY(0);
	}

	.tabs-container {
		width: 100%;
		overflow-x: scroll;
		scrollbar-width: none;
	}

	.tab-content {
		min-width: 526px;

	}

	.btns-container {
		width: 100%;
		padding-right: 0;
		justify-content: start;
		padding-left: 154px;
		gap: 11px;
	}

	.subheader-btn {
		font-size: 8px;
		padding: 9px 14px;
	}
}