/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

/* Fonts */
:root {
    --primary-color: #54B9A2;
    /* primary-color: #ff502f */
    --secondary-color: 91, 209, 215;
    /* secondary-color: #5bd1d7 */
    --text-color: 0, 77, 97;
    /* text-color: #004d61 */
    --gray-light: 224, 224, 224;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}

/* ============NAVIGATION============ */
.searchbar-mobile {
    display: none;
}

#showMoreButton {
    display: none;
}

nav {
    background-color: white;
    height: 74px;
    padding: 10px 3% 10px 2%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-right .user-icon {
    width: 35px;
}

.nav-left .menu-icon {
    width: 30px;
}

.menu-icon-background-small {
    display: none;
    width: 45px;
    height: 45px;
    justify-content: center;
    margin-right: 12px;
}

.nav-left .menu-icon-background-small:hover {
    background-color: #5a5a5a36;
    border-radius: 50%;
}

.menu-icon-background {
    width: 45px;
    height: 45px;
    justify-content: center;
    margin-right: 12px;
}

.nav-left .menu-icon-background:hover {
    background-color: #5a5a5a36;
    border-radius: 50%;
}

.nav-left .logo {
    width: 164px;
}

.searchbar-mobile {
    display: none;
}


.search-mobile {
    display: none;
    width: 30px;
    height: 26px;
    background-color: #00D6BA;
    border-radius: 5px;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

.search-mobile img {
    width: 20px;
}



/* ==========SEARCHBAR============ */
.searchbar {
    gap: 4px;
}

.searchbox {
    width: 451px;
    height: 49px;
    background-color: #D1F3EC;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbox input {
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
}

.search-button {
    width: 58px;
    height: 49px;
    background-color: #00D6BA;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button img {
    width: 30px;
}

/* ==========SEARCHBAR END============ */

/* ==========LANGUAGE DROPDOWN============ */

.lang-icon {
    margin-right: 8px;
}

.language-container {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    z-index: 999;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    right: 8%;
    top: 30%;
    width: 230px;
    height: 215px;
    overflow: hidden;
}

.language-container p {
    padding-left: 34px;
}

.language-container h5 {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #585858;
    margin-left: 26px;
}

#lang-close-icon {
    float: right;
}

.language-container p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #585858;
}

.language-container hr {
    color: #6461612c;
    height: 1px;
}

.language-container a {
    height: 40px;
    display: flex;
    align-items: center;
}

.language-container a.active {
    background-color: #D9D9D9;
}


/* ==========LANGUAGE DROPDOWN END============ */


/* ==========PROFILE CONTAINER========== */
#profile-close-icon {
    float: right;
}

.profile-container {
    display: none;
    position: absolute;
    z-index: 999;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    padding: 20px 26px;
    right: 5%;
    top: 30%;
    width: 293px;
}


.profile-container p {
    margin: 0;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.profile-link {
    display: flex !important;
    margin-bottom: 15px;
}

.profile-link img {
    margin-right: 17px;
}

.profile-container a p {
    flex-wrap: nowrap;
}

.popup-profile {
    margin-bottom: 37px;
}

.popup-profile img {
    margin-right: 17px;
}

.popup-profile a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 5px;
}

.popup-profile p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

.popup-profile div {
    margin-top: 10px;
}

.popup-profile .account-manage {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #00D6BA;
    cursor: pointer;
    margin-top: 12px;
}

/* ==========PROFILE CONTAINER END========== */
/* ============NAVIGATION END============ */
/* ============SIDEBAR============ */

.active-shortcut {
    background-color: #D9D9D9B5;
    padding: 12px 15px 11px 7px;
    border-radius: 11px;
    box-sizing: border-box;
}

.active-shortcut:hover {
    background-color: #D9D9D9B5 !important;
}

.sidebar-line {
    width: 80%;
    height: 1px;
    background-color: white;
    margin-bottom: 24px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 18%;
    top: 0;
    left: -19%;
    background-color: var(--primary-color);
    padding-left: 2%;
    padding-top: calc(74px + 23px);
    padding-bottom: 2%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 2;
    transition: left .1s ease-in;
}

.sidebar.open {
    left: 0;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.shortcut-links a img {
    width: 30px;
    margin-right: 29px;
}

.shortcut-links a {
    display: flex;
    align-items: center;
    width: 88%;
    flex-wrap: wrap;
    padding: 12px 15px 11px 7px;
    border-radius: 11px;
}

.shortcut-links a:hover {
    background-color: #d9d9d95b;
}

.shortcut-links a p {
    color: white;
}

.shortcut-links .sidebar-title {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: white;
    margin-bottom: 32px;
    margin-top: 27px;
    margin-left: 10px;
}

.subsciption-logo {
    width: 45px !important;
    margin-right: 14px !important;
    border-radius: 50%;
}

.sidebar hr {
    width: 85%;
    height: 1px;
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-top: 24px;
}


.show-more {
    width: 30%;
    height: 32px;
    background-color: #D9D9D9B5;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
    transform: translateX(88%);
}



.about-container {
    padding-right: 10px;
}

.about-container a {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
}

.about-container p {
    margin-top: 18px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.about-logo {
    margin-top: 100px;
}

.about-logo img {
    width: 220px !important;
}

.about-link {
    margin-top: 29px;
    font-weight: 300 !important;
    font-size: 17px !important;
    line-height: 21px;
    color: #FFFFFF;
}


/* ============SIDEBAR END============ */
/* ==========SIDEBAR SMALL========== */
.menu-icon-background-small {
    display: none;
    width: 45px;
    height: 45px;
    justify-content: center;
    margin-right: 12px;
}

.nav-left .menu-icon-background-small:hover {
    background-color: #5a5a5a36;
    border-radius: 50%;
}

.active-shortcut {
    background-color: #D9D9D9B5;
    padding: 12px 15px 11px 7px;
    border-radius: 11px;
    box-sizing: border-box;
}

.active-shortcut:hover {
    background-color: #D9D9D9B5 !important;
}

.sidebar-line {
    width: 80%;
    height: 1px;
    background-color: white;
    margin-bottom: 24px;
}

.sidebar-mobile {
    height: 100%;
    width: 70%;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: -100%;
    padding-left: 4%;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    z-index: 10;
    /* Firefox */
    transition: linear .2s left;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.shortcut-links a img {
    width: 30px;
    margin-right: 29px;
}

.shortcut-links a {
    display: flex;
    align-items: center;
    width: 88%;
    flex-wrap: wrap;
    padding: 12px 15px 11px 7px;
    border-radius: 11px;
}

.shortcut-links a:hover {
    background-color: #d9d9d95b;
}

.shortcut-links a p {
    color: white;
}

.shortcut-links .sidebar-title {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: white;
    margin-bottom: 32px;
    margin-top: 27px;
    margin-left: 10px;
}

.subsciption-logo {
    width: 45px !important;
    margin-right: 14px !important;
    border-radius: 50%;
}

.sidebar-mobile hr {
    width: 95%;
    height: 1px;
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-top: 24px;
}

.small-sidebar hr {
    width: 50%;
}

.small-sidebar .shortcut-links a {
    width: auto;
}

.small-sidebar .subsciption-logo {
    width: 30px !important;
}

.show-more {
    width: 30%;
    height: 32px;
    background-color: #D9D9D9B5;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
    transform: translateX(88%);
}

.small-sidebar .show-more {
    display: none;
}

.about-container {
    padding-right: 10px;
}

.about-container a {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
}

.about-container p {
    margin-top: 18px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.about-logo {
    margin-top: 100px;
}

.about-link {
    margin-top: 29px;
    font-weight: 300 !important;
    font-size: 17px !important;
    line-height: 21px;
    color: #FFFFFF;
}

.small-sidebar .about-container {
    display: none;
}

/* ==========SIDEBAR SMALL========== */
/* ============MAIN============ */

.container {
    margin-top: 38px;
    padding-left: 5%;
    padding-right: 5%;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.play-video {
    flex-basis: 69%;
}


.video-container {
    background-color: #000000;
    aspect-ratio: 16 / 9;
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.video-container video {
    width: 100%;
    height: 100%;
}

.right-videolist {
    flex-basis: 20%;
    margin-right: 28px;
    margin-left: 28px;
}

.play-video h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 13px;
}

.channel-info {
    margin-right: 86px;
    white-space: nowrap;
}

.channel-info img {
    width: 48px;
    margin-right: 17px;
}

.channel-info div h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.channel-info div p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #A1A1A1;
}

.channel-info div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.play-video-info {
    display: flex;
    margin-bottom: 20px;
}

.play-video-info-right {
    justify-content: end;
}

.play-video-info-left,
.play-video-info-right {
    width: 100%;
    display: flex;
}

.interaction-btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 15px 42px;
    border-radius: 23.5px;
    background-color: #54B9A2;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    transition: background .1s ease;
}

.share-btn {
    display: flex;
    align-items: center;
    padding: 12px 52px 12px 41px !important;
    gap: 5px;
    margin-left: 66px;
}

.interaction-btn-group,
.interaction-btn-group button {
    display: flex;
    align-items: center;
}

.like-btn {
    padding: 15px 47px 15px 15px !important;
    gap: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
}

.like-btn::after {
    content: "";
    background: #FFFFFF;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 28px;
    width: 1px;
}

.dislike-btn {
    padding: 15px 18px 15px 20px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.interaction-btn.active {
    background-color: #3c947f;
    color: #FFFFFF;
}


.interaction-btn:hover {
    background-color: #49a08c;

}

/* ============DESCRIPTION============ */

.play-video-description {
    min-height: 64px;
    height: 64px;
    width: 100%;
    background: #EBF8F5;
    border-radius: 18px;
    padding: 8px 19px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 14px;

}

.play-video-description:hover {
    background: #cbe2dd;
}

.play-video-stats {
    width: 100%;
    display: flex;
    margin-bottom: 14px;
}

.play-video-stats p {
    margin-right: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.play-video-stats span {
    margin-right: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #616163;
}

/* ============DESCRIPTION END============ */
/* ============COMMENTS============ */


.write-comment {
    display: flex;
    align-items: start;
    margin-bottom: 39px;
}

.comment-input,
.write-comment-buttons,
.write-comment-input {
    width: 100%;
}

.write-comment-input {
    margin-left: 20px;

}

.comment-input {
    font-size: 14px;
    position: relative;
    height: 25px;
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgb(134, 134, 134);
    transition: ease .2s all;
}

.comment-input:focus {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.write-comment-buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
    margin-top: 16px;
    display: none;
}

.comment-btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 24px;
}

.cancel-btn {
    background-color: transparent;
    border: 1px solid transparent;

}

.cancel-btn:hover {
    background-color: #cccccc;
    border: 1px solid #cccccc;

}

.comment {
    color: #616163;
    border: 1px solid #616163;
    cursor: default;
}


.play-video-comments {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 8px 19px;
    /* -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 150%);
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 150%); */

}

.play-video-comments p {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.comment-container {
    width: 70%;
    display: flex;
    margin-bottom: 39px;
}

.comment-container img {
    border-radius: 50%;
    margin-right: 20px;
    width: 48px;
    height: 48px;
}

.user-comment a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    cursor: pointer;
}

.user-comment a span {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #A1A1A1;
    margin-left: 16px;
}

.user-comment p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 10px;
}

.more-comments {
    width: 100%;
    height: auto;
    justify-content: center;
    cursor: pointer;
}

/* ============COMMENTS END============ */
/* ============SIDE VIDEO LIST============ */
.showMoreButton {
    display: none;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.side-video-list img {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.side-video-list .small-thumbnail {
    flex-basis: 47%;
    border-radius: 17px;
}

.side-video-list .small-thumbnail img {
    border-radius: 17px;
}

.side-video-list .vid-info {
    flex-basis: 50%;
}

.vid-info a {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.vid-info p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #54B9A2;
    margin-top: 7px;
}

.vid-views {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #A1A1A1 !important;
}



/* ============SCROLL TAGLIST============ */
.scroll-chips {
    width: 470px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    position: relative;
}

.chips__choice {
    display: flex;
    width: 470px;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 11px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
    transform: translateX(0px);
    transition: transform .1s ease;
}

.scroll-chips-overlay::-webkit-scrollbar {
    display: none;
}

.scroll-chips-overlay {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -webkit-mask-image: linear-gradient(to left, transparent 0, transparent 51px, #000 77px, #000 100%);
    mask-image: linear-gradient(to left, transparent 0, transparent 51px, #000 77px, #000 100%);
}

.chip {
    padding: 12px 32px;
    background: #D1F3EC;
    border-radius: 11px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    transform: translateX(0);
    color: #616163;
    cursor: pointer;
    border: none;
}

#chips-prev {
    display: flex;
    left: 0;
    display: none;
}

#chips-next {
    display: flex;
    right: 0;
}

.chips__choice .chip.chip--active {
    color: rgb(var(--primary-color));
    background: #54B9A2;
}

.chips__choice::-webkit-scrollbar {
    display: none;
}

.control {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: white;
}

.control:hover {
    background-color: #5a5a5a36;
}

/* ============SCROLL TAGLIST END============ */
/* ============SIDE VIDEO LIST END============ */
/* ============MAIN END============ */






/* ============MEDIAQUERY============ */

@media (max-width: 1552px) {
    .play-video-info {
        display: block;
    }

    .play-video-info-left {
        margin-bottom: 27px;
    }

    .play-video-info-right {
        justify-content: start;
    }
}

@media (max-width: 1418px) {
    .sidebar {
        width: 30%;
        left: -31%;
    }
}



@media (max-width: 1200px) {
    .side-video-list .small-thumbnail {
        flex-basis: 37%;
        border-radius: 17px;
    }

    .side-video-list .vid-info {
        flex-basis: 59%;
    }

    .side-video-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 17px;
    }

    .right-videolist {
        flex-basis: 20%;
        margin-right: 0px;
        margin-left: 28px;
    }

    .vid-info a {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        color: #000000;
    }

    .play-video h3 {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 13px;
    }
}

@media (max-width: 1027px) {
    .play-video-comments {
        height: auto;
    }

    .comment-container {
        width: 100%;
    }

    .scroll-chips-overlay {
        width: 100%;
    }

    .scroll-chips {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        position: relative;
    }

    .row {
        flex-wrap: wrap;
    }

    .right-videolist {
        margin-right: 0px;
        margin-left: 0px;
    }

    .play-video {
        flex-basis: 100%;
    }

    .right-videolist {
        flex-basis: 100%;
    }

    .searchbar {
        display: none;
    }

    /* =============NAVIGATION============ */
    nav {
        background-color: white;
        height: 74px;
        padding: 10px 3% 10px 2%;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .searchbar-mobile {
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 72px;
        background-color: #FFFFFF;
        border-radius: 0;
        margin-right: 0;
        padding: 0;
        transition: linear .2s top;
    }

    .searchbar-mobile input {
        background-color: transparent;
        border: none;
        outline: none;
        height: inherit;
        width: 85%;
        font-size: 20px;
        text-align: center;
    }

    .searchbar-mobile input:focus::placeholder {
        color: transparent;
    }

    .search-mobile {
        display: flex;
        width: 30px;
        height: 26px;
        background-color: #00D6BA;
        border-radius: 5px;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;
        border: none;
        outline: none;
    }




    .nav-right .user-icon {
        width: 30px;
    }

    .menu-icon-background-small {
        margin-right: 0;
    }

    #navigation {
        z-index: 1;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.2s linear;
    }

    /* =============NAVIGATION============ */
    .overlay {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
        transition: linear .2s opacity;
        z-index: -1;
    }

    .menu-icon-background-small {
        margin-right: 0;
        display: flex;
    }

    .menu-icon-background {
        display: none;
    }

    .nav-left .logo {
        width: 130px !important;
    }

    #chips-next,
    #chips-prev {
        display: none;
    }

    .scroll-chips-overlay {
        mask-image: none;
    }

    .chips__choice {
        min-width: 150px;
        width: 150px;
    }
}

@media (max-width: 600px) {
    #showMoreButton {
        width: 100%;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: #000000;
        padding: 10px 0;
        text-transform: uppercase;
        border: 1px solid #000000;
        border-radius: 24px;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        margin-bottom: 35px;
        margin-top: 20px;
        display: block;
    }

    .side-video-list .small-thumbnail img {
        border-radius: 0px;
    }

    .play-video-description {
        margin-bottom: 37px;
    }

    .side-video-list {
        display: flex;
        flex-direction: column;
    }

    .play-video-info-right {
        justify-content: start;
    }

    .comment-container {
        width: 100%;
    }

    .play-video-comments {
        padding: 0;
    }

    .user-comment p {
        font-size: 14px;
        line-height: 17px;
    }

    .play-video-stats p,
    .play-video-stats span {
        font-size: 13px;
        line-height: 16px;
    }

    .interaction-btn {
        padding: 10px 30px;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #FFFFFF;
    }

    .like-btn {
        padding: 10px 27px 10px 14px !important;
    }

    .dislike-btn {
        padding: 10px 17px 10px 7px !important;
    }

    .share-btn {
        padding: 10px 25px 10px 21px !important;
        margin-left: 21px;
    }

    .channel-info div h5 {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    .channel-info div p {
        font-size: 11px;
        line-height: 13px;
    }

    .play-video-comments {
        mask-image: none !important;
        -webkit-mask-image: none !important;
    }

    .more-comments {
        display: none;
    }

    .channel-info {
        margin-right: 20px;
    }

    .container {
        margin-top: 20px;
    }

    .chip {
        padding: 12px 62px;
    }

    .play-video h3 {
        font-size: 16px;
        line-height: 21px;
    }



}

@media (max-width: 364px) {

    .play-video-stats p,
    .play-video-stats span {
        font-size: 11px;
        line-height: 18px;
    }
}

/* ============MEDIAQUERY END============ */