/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

/* Fonts */
:root {
	--primary-color: #54b9a2;
}

input,
div,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #5a5a5a;
}

img {
	cursor: pointer;
}

.flex-div {
	display: flex;
	align-items: center;
}

/* ==========MAIN========== */

.container {
	background-color: #ffffff;
	padding-left: 16.77%;
}

.large-container {
	padding-left: 4%;
}

.banner {
	background-image: url(/img/main-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 353px;
}

.searchbar {
	gap: 5px;
}

.searchbar .searchbox {
	padding: 21px 15px;
	background-color: #ffffff;
	border-radius: 5px;
}

.searchbar .searchbox input {
	font-size: 17px;
	max-width: 774px;
	width: 774px;
	border: none;
	outline: none;
}

.searchbox input:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

.search-button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.searchbar .search-button {
	border: none;
	outline: none;
	background-color: #00d6ba;
	border-radius: 5px;
	height: 62px;
	min-width: 73px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/* ==========MAIN========== */

.list-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(184px, 1fr));
	grid-column-gap: 20px;
	padding: 0 104px;
}

.livelist-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(184px, 1fr));
	grid-column-gap: 20px;
	padding: 0 68px;
}

.m-b-84px {
	margin-bottom: 84px;
}

.vid-list {
	margin-top: 65px;
}

.vid-list .thumbnail {
	width: 100%;
	border-radius: 16px;
	aspect-ratio: 16 / 9;
	object-fit: cover;
}

.vid-list .flex-div {
	align-items: flex-start;
	margin-top: 33px;
}

.vid-list .flex-div img {
	width: 48px;
	margin-right: 14px;
	border-radius: 50%;
}

.live-list {
	margin-top: 65px;
	position: relative;
}

.preview {
	display: flex;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}

.live-icon {
	width: 145px;
	height: 145px;
	position: absolute;
	mix-blend-mode: multiply;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	filter: saturate(1.75);
}

.live-list .thumbnail {
	width: 100%;
	object-fit: cover;
	border-radius: 27px;
	/* -webkit-filter: blur(3px);
    filter: blur(3px); */
	aspect-ratio: 16 / 12;
	object-fit: cover;
}

.live-list .flex-div {
	align-items: flex-start;
	margin-top: 33px;
}

.live-list .flex-div img {
	width: 48px;
	margin-right: 14px;
	border-radius: 50%;
}

.vid-info {
	margin-top: 6px;
}

.vid-info a {
	color: #000;
	font-size: 17px;
	font-weight: 400;
}

.vid-info p {
	color: var(--primary-color);
	font-size: 15px;
	font-weight: 400;
	margin-top: 6px;
}

.vid-views {
	color: #a1a1a1 !important;
	font-size: 15px;
	font-weight: 400;
}

/* ========================================= */
.icon_select_mate {
	position: absolute;
	top: 20px;
	right: 19px;
	font-size: 16px;
	height: 22px;
	transition: all 275ms;
}

.select_mate {
	position: relative;
	float: left;
	min-width: 212px;
	width: 212px;
	min-height: 62px;
	color: #000;
	font-weight: 400;
	font-size: 17px;
	background-color: #ffffff;
	border-radius: 5px;
	transition: all 375ms ease-in-out;
}

.select_mate select {
	position: absolute;
	overflow: hidden;
	height: 0px;
	opacity: 0;
	z-index: -1;
}

.cont_list_select_mate {
	position: relative;
	float: left;
	width: 100%;
}

.cont_select_int {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 999;
	overflow: hidden;
	height: 0px;
	width: 100%;
	background-color: #fff;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-radius: 0px 0px 3px 3px;
	box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
	transition: all 375ms ease-in-out;
}

.cont_select_int li {
	position: relative;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	background-color: #f5f5f5;
	list-style-type: none;
	padding: 10px 23px;
	margin: 0px;
	transition: all 275ms ease-in-out;
	display: block;
	cursor: pointer;
}

.cont_select_int li:last-child {
	border-radius: 3px;
	border-bottom: 0px;
}

.cont_select_int li:hover {
	background-color: #eeeeee;
}

.cont_select_int .active {
	background-color: #eeeeee;
}

.selecionado_opcion {
	padding: 20px 23px;
	width: 100%;
	display: block;
	margin: 0px;
	cursor: pointer;
}

/* ------------MEDIAQUERY------------ */

/* @media (max-width: 1508px) {
	.list-container {
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
		padding: 0 55px;
	}

	.livelist-container {
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
		padding: 0 68px;
	}

} */

@media (max-width: 1395px) {
	.searchbar .searchbox input {
		font-size: 17px;
		max-width: 800px;
		width: 412px;
	}

	.large-container {
		padding-left: 6%;
	}
}

/* @media (max-width: 1271px) {
	.list-container {
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
		padding: 0 104px;
	}

	.livelist-container {
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
		padding: 0 68px;
	}

} */

@media (max-width: 1238px) {
	.large-container {
		padding-left: 8%;
	}

	.list-container {
		padding: 0 104px 0 134px;
	}

	.livelist-container {
		padding: 0 104px 0 134px;
	}

	.sidebar {
		width: 27%;
	}

	.small-sidebar {
		width: 10%;
		padding-left: 2%;
	}

	.about-container p {
		font-size: 14px;
	}

	.about-container a img {
		width: 164px;
	}

	.about-link img {
		width: 24px !important;
	}
}

@media (max-width: 900px) {
	nav {
		background-color: white;
		height: 74px;
		padding: 10px 3% 10px 2%;
		justify-content: space-between;
		position: sticky;
		top: 0;
		z-index: 2;
	}

	.searchbar-mobile {
		display: flex;
		justify-content: center;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 72px;
		background-color: #ffffff;
		border-radius: 0;
		margin-right: 0;
		padding: 0;
		transition: linear 0.2s top;
	}

	.searchbar-mobile input {
		background-color: transparent;
		border: none;
		outline: none;
		height: inherit;
		width: 85%;
		font-size: 20px;
		text-align: center;
	}

	.searchbar-mobile input:focus::placeholder {
		color: transparent;
	}

	.search-mobile {
		display: flex;
		width: 30px;
		height: 26px;
		background-color: #00d6ba;
		border-radius: 5px;
		justify-content: center;
		margin-right: 10px;
		cursor: pointer;
		border: none;
		outline: none;
	}

	.nav-right .user-icon {
		width: 30px;
	}

	.menu-icon-background-small {
		margin-right: 0;
	}

	#navigation {
		z-index: 1;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
		transition: box-shadow 0.2s linear;
	}

	.overlay {
		top: 0;
		left: -100%;
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.75;
		z-index: 3;
	}

	.sidebar-mobile {
		display: block;
	}

	.nav-left .logo {
		width: 130px;
	}

	.dropdown-container {
		margin-right: 0px;
	}

	.menu-icon-background-small {
		display: flex;
	}

	.menu-icon-background {
		display: none;
	}

	.sidebar {
		display: none;
	}

	.container,
	.large-container {
		padding-left: 0;
		padding-right: 0;
	}

	.banner {
		height: 181px;
		background-image: url(/img/main-background-mobile.png);
	}

	.searchbar {
		display: none;
	}

	.list-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-column-gap: 20px;
		padding: 0 23px;
	}

	.livelist-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-column-gap: 20px;
		padding: 0 23px;
	}
}

/* ------------MEDIAQUERY------------ */